<h1>Compte</h1>
<nav aria-label="breadcrumb">
    <ul>
        <li><a class="selected" onclick="pnre.rendererTo('profile_container', 'profile/profile_user',true)" id="item_profile" href="#">Profile</a></li>
        <li><a href="#" onclick="pnre.rendererTo('profile_container', 'profile/profile_password',true)" id="item_password">Password</a></li>
        <li><a href="#" onclick="pnre.rendererTo('profile_container', 'profile/profile_users',true)" id="item_users">Users</a></li>
    </ul>
</nav>
<div id="profile_container"></div>
