<h1>Connexion</h1>

    <!-- Grid -->
    <div class="grid">
        <!-- Markup example 1: input is inside label -->
        <label for="email">
            Email
            <input type="text" id="email" name="firstname" placeholder="john@doe.com" required>
        </label>

        <label for="password">
            Mot de passe
            <input type="password" id="password" name="lastname" placeholder="password1" required>
        </label>
    </div>

<button onclick="login();">Connexion</button>
<center>
    <a onclick="reset_server();">Changer de Serveur</a>
</center>