<h1>Connexion</h1>
<form>
    <!-- Grid -->
    <div class="grid">
        <!-- Markup example 1: input is inside label -->
        <label for="email">
            Email
            <input type="text" id="email" name="firstname" placeholder="john@doe.com" required>
        </label>

        <label for="password">
            Mot de passe
            <input type="password" id="password" name="lastname" placeholder="password1" required>
        </label>

        <label for="server">
            Serveur
            <input type="text" id="server" name="lastname" placeholder="https://nodered.example.org" required>
        </label>
    </div>
</form>
<button onclick="login();">Submit</button>